_extensions/*
/.quarto/
_freeze/*
_site/*
4_Tidyverse_files/*
Plantilla notas de clase curso econometría espacial.Rmd
Imagenes/imagenes_r.zip
Imagenes/Down_load_R.png
4_Tidyverse.ipynb
3_Programacion_fechas.ipynb
3_Programacion_fechas.ipynb
4_Tidyverse.qmd
*.tex
docs/.~lock.1_Empezando_R.docx#
docs/1_Empezando_R.docx
docs/1_Empezando_R.pdf
1_Empezando_R.log
docs/4_Tidyverse.docx
docs/3_Programacion_fechas.docx
docs/2_Basicos_R_operaciones_tipos.docx
