project:
  type: website
website:
  title: "Econometr칤a 0"
  navbar:
    right:
      - icon: github
        href: https://github.com/
  sidebar:
    style: docked
    contents:
      - href: /index.qmd
        text: "游 Home"
      - section: "Contenido"
        contents:
        - href: /2_Basicos_R_operaciones_tipos.qmd
          text: Operaciones B치sicas
        - href: /3_Programacion_fechas.qmd
          text: Programai칩n B치sicos
        - href: /4_Tidyverse.qmd
          text: Tidiverse B치sicos
format:
  html:
    theme: cosmo
    css: styles.css
execute:
  freeze: auto